html, body {
    height: 100%;
    margin: 0;
}

.container {
    width: 30%;
    height: auto;
    padding: 50px 50px 30px;
    margin: 50px auto;
    background-color: lightgray;

    border-radius: 10px;
}

.page {
    display: flex;
    justify-content: space-between;
}

.page input {
    width: 70%;
}

.items {
    margin: 20px 0;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.item span:nth-child(2) {
    cursor: pointer;
}
